doctype html
html
  head
    title= title
  body
    h1 Contacts Table
    a(href="/update-contact") Add/to this table
    table(border="1")
      tr
        th First Name
        th Last Name
        th Email
      each contact in data
        tr
          td= contact.properties.firstname
          td= contact.properties.lastname
          td= contact.properties.email
